Flask==2.2.2
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-MySQLdb==1.0.1
Flask-PyMongo==2.3.0
Flask-Reuploaded==1.2.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
gunicorn==20.1.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mysqlclient==2.1.1
numpy==1.22.4
pep8==1.7.1
Pillow==8.3.2
platformdirs==2.5.2
postgres==4.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
psycopg2-pool==1.1
pycodestyle==2.5.0
pymongo==4.2.0
python-decouple==3.1
pytz==2018.5
requests==2.28.1
six==1.16.0
SQLAlchemy==1.4.40
sqlparse==0.2.4
tzdata==2022.1
urllib3==1.24.2
virtualenv==20.14.1
virtualenvwrapper-win==1.2.7
webencodings==0.5.1
Werkzeug==2.2.2
whitenoise==6.1.0
WTForms==3.0.1
